<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlybattleship">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlybattleship.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlybattleship.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlybattleship.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlybattleship.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.ShipSetActivity"
            android:label="@string/title_activity_ship_set"
            android:parentActivityName="org.secuso.privacyfriendlybattleship.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlybattleship.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="org.secuso.privacyfriendlybattleship.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlybattleship.ui.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlybattleship.ui.PlaceShipActivity"
            android:label="@string/title_activity_place_ships"
            android:parentActivityName="org.secuso.privacyfriendlybattleship.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlybattleship.ui.MainActivity" />
        </activity>
    </application>

</manifest>